# The sdist ships the installable package, its declared package data, the
# license, and the readme. Development-only trees are not part of the
# distribution and are pruned so no test code or conformance/vendor data enters
# an artifact. arcs_verify/contracts/ is package data (see
# [tool.setuptools.package-data] in pyproject.toml): it is the frozen,
# shareable spec and golden-fixture bundle that arcs_verify/dagr_report.py
# reads at runtime, and setuptools ships package-data in both the sdist and
# the wheel, so no separate graft is needed here.
include LICENSE
include README.md
include CHANGELOG.md
prune tests
prune packs
prune vendor
prune docs
prune tools
prune .github
